output/converter_g.exe
core/venv
player_api/venv
core/.vscode
core/test.log
core/__pycache__/application.cpython-310.pyc
core/converter/__pycache__/core.cpython-310.pyc
core/views/__pycache__/main.cpython-310.pyc
core/__pycache__/config.cpython-310.pyc
files/test.txt
player_api/views/__pycache__/main.cpython-310.pyc
player_api/.vscode/settings.json
player_api/test.log
player_api/__pycache__/application.cpython-310.pyc
player_api/__pycache__/config.cpython-310.pyc
player_api/views/__pycache__/playlist.cpython-310.pyc
player_api/db/__pycache__/db.cpython-310.pyc
player_api/views/__pycache__/user.cpython-310.pyc
player_api/__pycache__/models.cpython-310.pyc
player_api/services/__pycache__/__init__.cpython-310.pyc
player_api/services/__pycache__/decorators.cpython-310.pyc
player_api/services/playlists/__pycache__/playlists.cpython-310.pyc
player_api/services/users/__pycache__/users.cpython-310.pyc
player_api/services/__pycache__/pikasender.cpython-310.pyc
player_api/services/__pycache__/playlists.cpython-310.pyc
player_api/services/vk/__pycache__/download_from_profile.cpython-310.pyc
player_api/services/__pycache__/users.cpython-310.pyc
player_api/services/__pycache__/songs.cpython-310.pyc
player_api/vk_config.v2.jsons
player_api/config.py
core/config.py
core/vk_config.v2.json
player_api/vk_config.v2.json
player_api/.env
core/.env
player_api/services/vk/__pycache__/download_from_playlist.cpython-310.pyc
core/__pycache__/config.cpython-39.pyc
core/converter/__pycache__/core.cpython-39.pyc
core/views/__pycache__/main.cpython-39.pyc
player_api/__pycache__/config.cpython-39.pyc
player_api/__pycache__/models.cpython-39.pyc
player_api/services/__pycache__/decorators.cpython-39.pyc
player_api/services/__pycache__/playlists.cpython-39.pyc
player_api/services/__pycache__/__init__.cpython-39.pyc
player_api/db/__pycache__/db.cpython-39.pyc
player_api/services/__pycache__/songs.cpython-39.pyc
player_api/services/__pycache__/users.cpython-39.pyc
player_api/services/vk/__pycache__/download_from_profile.cpython-39.pyc
player_api/views/__pycache__/playlist.cpython-39.pyc
player_api/views/__pycache__/user.cpython-39.pyc
player_api/services/__pycache__/pikasender.cpython-39.pyc
player_api/services/vk/__pycache__/download_from_playlist.cpython-39.pyc
player_api/services/youtube/__pycache__/download_from_youtube.cpython-39.pyc
bot/__pycache__/config.cpython-310.pyc
player_api/services/youtube/__pycache__/download_from_youtube.cpython-310.pyc
bot/modules/__pycache__/decorators.cpython-310.pyc
bot/modules/__pycache__/keyboards.cpython-310.pyc
bot/modules/__pycache__/requests.cpython-310.pyc
bot/modules/__pycache__/playlists.cpython-310.pyc
